<div class="col m2 s4">
  <div class="card-panel teal lighten-1 home-category">
    <p class="white-text home-category-list">MALAY</p>
  </div>
</div>
<div class="col m2 s4">
  <div class="card-panel red lighten-1 home-category">
    <p class="white-text home-category-list">JAPANESE</p>
  </div>
</div>
<div class="col m2 s4">
  <div class="card-panel lime lighten-1 home-category">
    <p class="white-text home-category-list">INDIAN</p>
  </div>
</div>
<div class="col m2 s4">
  <div class="card-panel deep-purple lighten-1 home-category">
    <p class="white-text home-category-list">CHINESE</p>
  </div>
</div>
<div class="col m2 s4">
  <div class="card-panel orange lighten-1 home-category">
    <p class="white-text home-category-list">WESTERN</p>
  </div>
</div>
<div class="col m2 s4">
  <div class="card-panel pink lighten-1 home-category">
    <p class="white-text home-category-list">DRINKS</p>
  </div>
</div>
