<div class="navbar-fixed">
  <nav class="nav-wrapper green">
    <div class="container">
      <a href="/" class="brand-logo">BAZAAR ON</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="">HOME</a></li>
        <li><a href="/login" class="">LOGIN</a></li>
        <li><a href="/register" class="">REGISTER</a></li>
      </ul>
    </div>
  </nav>
</div>
